* {
 
}

.bg-primary{
    -fx-background-color: #1d2026;
}

.bg-secondary{
    -fx-background-color: #00b3b8;
     -fx-background-color: linear-gradient(to right, #7AEBFB 20%, #386A73);
}

.btn {
	-fx-cursor:hand;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-border-radius: 25px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
}
.btn:hover{
	-fx-background-color: #7A7B7F;
	
}

.btn-primary {
	-fx-cursor:hand;
    -fx-color: #fff;
    -fx-background-color: #00b3b8;
    -fx-background-color: linear-gradient(to right, rgb(107, 193, 255) 20%, #00b3b8);
    -fx-text-fill: white;
}

.input-rounded {
    -fx-border-radius:25;
    -fx-background-radius: 25;
    -fx-border-color: #707070;
    -fx-background-color: transparent;
    /*   top bot right left    */
    -fx-padding: 0 0 0 21px; 
    -fx-color: black;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.combobox-rounded {
    -fx-border-radius:25;
    -fx-background-radius: 25;
    -fx-border-color: #707070;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 21px;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.button-salve {
    -fx-border-radius:10;
    -fx-background-radius: 10;
    -fx-background-color: #6ED1D8; 
    -fx-text-fill: white;
    -fx-font: 16px "Segoe UI";
    -fx-font-weight: bold;
}
.button-cancel {
    -fx-border-radius:10;
    -fx-background-radius: 10;
    -fx-background-color: #D44343; 
    -fx-text-fill: white;
    -fx-font: 16px "Segoe UI";
    -fx-font-weight: bold;
}
.bnt-search{
	-fx-background-color: transparent;
}
.text-primary {
    -fx-text-fill:  #00b3b8;
    
}

.font-sm {
    -fx-font-size: 12px;
    -fx-text-fill: white
}

.font-md {
    -fx-font: 18px "Segoe UI";
}

.font-lg {
    -fx-font: 28px "Segoe UI";
    -fx-text-fill: black;
}

