.btn {
	-fx-cursor:hand;
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-border-radius: 4px;
	-fx-cursor: hand;
	-fx-background-color: linear-gradient(to right, rgb(107, 193, 255) 20%,
		#00b3b8);
}
