* {
 
}

.bg-primary{
    -fx-background-color: #1d2026;
}

.bg-secondary{
    -fx-background-color: #00b3b8;
     -fx-background-color: linear-gradient(to right, #7AEBFB 20%, #386A73);
}

.btn {
	-fx-cursor:hand;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-border-radius: 25px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
}
.btn:hover{
	-fx-background-color: #7A7B7F;
	
}

.btn-primary {
	-fx-cursor:hand;
    -fx-color: #fff;
    -fx-background-color: #00b3b8;
    -fx-background-color: linear-gradient(to right, rgb(107, 193, 255) 20%, #00b3b8);
    -fx-text-fill: white;
}


.input-rounded {
    -fx-border-radius:25;
    -fx-background-radius: 25;
    -fx-border-color: #707070;
    -fx-background-color: transparent;
    /*   top bot right left    */
    -fx-padding: 0 0 0 15px; 
    -fx-color: #F5F5F5;
    -fx-font: 18px "Segoe UI";
}
.input-qtd {
    -fx-border-radius:15;
    -fx-background-radius: 15;
    -fx-border-color: #707070;
    -fx-background-color: transparent;
    /*   top bot right left    */
    -fx-padding: 0 0 0 7px; 
    -fx-color: #F5F5F5;
    -fx-font: 18px "Segoe UI";
    
}
.bnt-search{
	-fx-background-color: transparent;
}
.button-salve {
    -fx-border-radius:10;
    -fx-background-radius: 10;
    -fx-background-color: #6ED1D8; 
    -fx-text-fill: white;
    -fx-font: 16px "Segoe UI";
    -fx-font-weight: bold;
}
.button-cancel {
    -fx-border-radius:10;
    -fx-background-radius: 10;
    -fx-background-color: #D44343; 
    -fx-text-fill: white;
    -fx-font: 16px "Segoe UI";
    -fx-font-weight: bold;
}
.text-primary {
    -fx-text-fill:  #00b3b8;
    
}
.separator{
	-fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* its make really one-pixel-border */
    -fx-border-color: black;
}
.separator2{
	-fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* its make really one-pixel-border */
    -fx-border-color: #1D2026;
}

.font-sm {
    -fx-font-size: 12px;
    -fx-text-fill: white
}

.font-md {
    -fx-font: 18px "Segoe UI";
    -fx-text-fill: black;
}
.font-md-search {
    -fx-font-size: 18px;
    -fx-text-fill: #707070;
}

.font-lg {
    -fx-font: 32px "Segoe UI";
    -fx-text-fill: black;
}
.font-head-list{
	-fx-font: 22px "Segoe UI";
    -fx-text-fill: #6ED1D8;
}
.font-body-list{
    -fx-text-fill: black;
     -fx-font: 20px "Segoe UI";
}
.font-emprestimo{
    -fx-text-fill: #2CDE6D;
    -fx-font: 18px "Segoe UI";
}