* {
 
}

.bg-primary{
    -fx-background-color: #1d2026;
}

.bg-secondary{
    -fx-background-color: #00b3b8;
     -fx-background-color: linear-gradient(to right, rgb(107, 193, 255) 20%, #00b3b8);
}

.btn {
	-fx-cursor:hand;
    -fx-display: inline-block;
    -fx-white-space: nowrap;
    -fx-vertical-align: middle;
    -fx--webkit-user-select: none;
    -fx--moz-user-select: none;
    -fx--ms-user-select: none;
    -fx-user-select: none;
    -fx-padding: 6px 0 0 12px;
    -fx-font-size: 16px;
    -fx-line-height: 1.5;
    -fx-border-radius: 4px;
    -fx-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -fx-text-fill: white
}

.btn-primary {
	-fx-cursor:hand;
    -fx-color: #fff;
    -fx-background-color: #00b3b8;
    -fx-background-color: linear-gradient(to right, rgb(107, 193, 255) 20%, #00b3b8);
    -fx-text-fill: white;
}

.btn-dash {
    -fx-color: #fff;
    -fx-background-color: #1d2026;
}

.btn-dash :hover{
    -fx-color: #fff;
    -fx-background-color: #1d2026;
    -fx-border-radius: 25px;
    -fx-opacity: 0.8;
}

.input-rounded {
    -fx-border-radius:25;
    -fx-background-radius: 25;
    -fx-border-color: #F5F5F5;
    -fx-background-color: transparent;
    /*   top bot right left    */
    -fx-padding: 2px 0 0 12px; 
    -fx--webkit-transition: all .2s ease;
    -fx-transition: all .2s ease;
    -fx-color: #F5F5F5;
    -fx-text-fill: white;
    
}

.form-control {
    -fx-display: block;
    -fx-width: 100%;
    -fx-padding: 6px 0 0 12px;
    -fx-line-height: 1.6;
    -fx-color: #495057;
    -fx-background-color: #fff;
    -fx-background-clip: padding-box;
    -fx--webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -fx-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -fx-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -fx-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -fx-text-fill: white
}
.checkbox .box{
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}
.text-primary {
    -fx-text-fill:  #00b3b8;
    
}

.font-sm {
    -fx-font-size: 12px;
    -fx-text-fill: white
}

.font-md {
    -fx-font-size: 16px;
    -fx-text-fill: white
}

.font-lg {
    -fx-font-size: 24px;
    -fx-text-fill: white
}

